<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
                integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Список задач</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Список задач</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#" th:href="@{/tasks}">Задачи<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#" th:href="@{/formAddUser}">Регистрация<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" th:if="${user.name == 'guest'}" th:href="@{/loginPage}">
                            <span th:text="${user.name}"></span>
                            <span> | Войти</span>
                        </a>
                        <a class="nav-item nav-link" th:if="${user.name != 'guest'}" th:href="@{/logout}">
                            <span th:text="${user.name}"></span>
                            <span> | Выйти</span>
                        </a>
                    </div>
                </div>
            </nav>
            <br>
            <a th:href="@{/tasks}">
                <button type="button" class="btn btn-secondary">Все</button>
            </a>
            <a th:href="@{/newTasks}">
                <button type="button" class="btn btn-outline-secondary">Новые</button>
            </a>
            <a th:href="@{/doneTasks}">
                <button type="button" class="btn btn-outline-secondary">Выполненные</button>
            </a>
            <a th:href="@{/createTask}">
                <button type="button" class="btn btn-primary">Добавить задание</button>
            </a>
            <br><br>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Отметка о выполнении</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="task: ${tasks}">
                            <td th:text="${task.id}"/>
                            <td width="55%">
                                <a th:href="@{|/task/${task.id}|}">
                                    <span th:text="${task.description}"></span>
                                </a>
                            </td>
                            <td width="20%" th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm:ss')}"/>
                            <td width="20%" th:if="${task.done == true}">
                                <i class="fa fa-check-square-o"></i>
                            </td>
                            <td width="20%" th:if="${task.done == false}">
                                <i class="fa fa-square-o"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>